*{
  box-sizing: border-box;
  margin: 0;
  --light_color: #f4f4f4;
  --dark_color: #926239;
  background-color: var(--light_color);
  color: var(--dark_color);

  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
}
.position {
  display: block;
  margin: auto;
  text-align: center;
}
.text-overflow{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.welcome-section{
  width: 100%;
  height: 100vh;
  padding: 20px;
  background-image: url(./../images/beachshowcase.jpg);
  background-size: cover;
  background-position: bottom right;
  }
.welcome-section-heading{
  height: 60px;
  min-width: 50px; 
  max-width: 650px;
  margin-top: 15%;
  background: transparent;

  font-size: 3em;
  line-height: 1.2;
  }
.welcome-section-content{
  min-width: 100px;
  max-width: 80%;
  padding: 5px;
  background: transparent;

  font-size: 1.2em;
}
.welcome-section-link{
  min-width: 50px;
  width: 140px;
  max-width: 200px;
  padding: 15px 20px;
  border: 1px solid var(--dark_color);
  border-radius: 10px;
  margin-top: 20px;
 
  color: var(--dark_color);
  background: transparent;
  cursor: pointer;

  font-size: 1.1em;
  text-decoration: none;
} 
.welcome-section-link:hover {
  background-color: var(--dark_color);
  color: var(--light_color);
}
.two_p_inversion {
  display: block;
  line-height: 1.6;
  text-align: center;
}
.two_p_inversion p:first-child,
.div_footer:first-child, 
.div_footer:last-child {
  padding: 20px;
  background-color: var(--dark_color);
  color: var(--light_color);
}
.two_p_inversion p:last-child{
  padding: 20px;
}
.div_footer{
  display: inline-block;
  width: 33.33%;
  padding: 20px;
  line-height: 1.6;
}
